{% extends 'main_template.html' %}

{% block title %}
  Catalog
{% endblock %}

{% block middle %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Catalog Megano
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Catalog</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">

          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Filter
              </strong>
            </header>
            <div class="Section-columnContent">
              <form class="form" action="#" method="post">
                <div class="form-group">
                  <div class="range Section-columnRange">
                    <input class="range-line" id="price" name="price" type="text" data-type="double" data-min={{ price_min }} data-max={{ price_max }} data-from={{ price_from }} data-to={{ price_to }} />
                    <div class="range-price">Price:&#32;
                      <div class="rangePrice">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-input form-input_full" id="title" name="title" type="text" placeholder={{ product_name }} />
                </div>
                <div class="form-group">
                  <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                </div>
                <div class="form-group">
                  <label class="toggle">
                    {% if in_stock == 'None' %}
                    <input name="in_stock_box" type="checkbox"/><span class="toggle-box"></span><span class="toggle-text">Только товары в наличии</span>
                    {% else %}
                    <input name="in_stock_box" type="checkbox" checked /><span class="toggle-box"></span><span class="toggle-text">Только товары в наличии</span>
                    {% endif %}
                  </label>
                </div>
                <div class="form-group">
                  <label class="toggle">
                    {% if free_shipping == 'on' %}
                    <input name="free_shipping_box" type="checkbox" checked /><span class="toggle-box"></span><span class="toggle-text">С бесплатной доставкой</span>
                    {% else %}
                    <input name="free_shipping_box" type="checkbox"/><span class="toggle-box"></span><span class="toggle-text">С бесплатной доставкой</span>
                    {% endif %}
                  </label>
                </div>
                <div class="form-group">
                  {% csrf_token %}
                  <button class="btn btn_muted" type="submit">Filter
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Popular tags
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="buttons"><a class="btn btn_default btn_sm" href="#">Video</a><a class="btn btn_default btn_sm" href="#">Development</a><a class="btn btn_default btn_sm" href="#">Gaming</a><a class="btn btn_default btn_sm" href="#">Asus</a><a class="btn btn_default btn_sm" href="#">Development</a><a class="btn btn_default btn_sm" href="#">Video</a>
              </div>
            </div>
          </div>

        </div>


        <div class="Section-content">

          <div class="Sort">
            <div class="Sort-title">Сортировать по:
            </div>
            <div class="Sort-variants">
              {% if order == "sold" %}
              <a class="Sort-sortBy Sort-sortBy_dec" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=-sold&page={{ products.number }}">Популярности</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=price&page={{ products.number }}">Цене</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=reviews&page={{ products.number }}">Отзывам</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=created_at&page={{ products.number }}">Новизне</a>
              {% elif order == "-sold" %}
              <a class="Sort-sortBy Sort-sortBy_inc" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=sold&page={{ products.number }}">Популярности</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=price&page={{ products.number }}">Цене</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=reviews&page={{ products.number }}">Отзывам</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=created_at&page={{ products.number }}">Новизне</a>
              {% elif order == "price" %}
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=sold&page={{ products.number }}">Популярности</a>
              <a class="Sort-sortBy Sort-sortBy_dec" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=-price&page={{ products.number }}">Цене</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=reviews&page={{ products.number }}">Отзывам</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=created_at&page={{ products.number }}">Новизне</a>
              {% elif order == "-price" %}
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=sold&page={{ products.number }}">Популярности</a>
              <a class="Sort-sortBy Sort-sortBy_inc" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=price&page={{ products.number }}">Цене</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=reviews&page={{ products.number }}">Отзывам</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=created_at&page={{ products.number }}">Новизне</a>
              {% elif order == "reviews" %}
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=sold&page={{ products.number }}">Популярности</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=price&page={{ products.number }}">Цене</a>
              <a class="Sort-sortBy Sort-sortBy_dec" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=-reviews&page={{ products.number }}">Отзывам</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=created_at&page={{ products.number }}">Новизне</a>
              {% elif order == "-reviews" %}
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=sold&page={{ products.number }}">Популярности</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=price&page={{ products.number }}">Цене</a>
              <a class="Sort-sortBy Sort-sortBy_inc" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=reviews&page={{ products.number }}">Отзывам</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=created_at&page={{ products.number }}">Новизне</a>
              {% elif order == "created_at" %}
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=sold&page={{ products.number }}">Популярности</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=price&page={{ products.number }}">Цене</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=reviews&page={{ products.number }}">Отзывам</a>
              <a class="Sort-sortBy Sort-sortBy_dec" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=-created_at&page={{ products.number }}">Новизне</a>
              {% elif order == "-created_at" %}
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=sold&page={{ products.number }}">Популярности</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=price&page={{ products.number }}">Цене</a>
              <a class="Sort-sortBy" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=reviews&page={{ products.number }}">Отзывам</a>
              <a class="Sort-sortBy Sort-sortBy_inc" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order=created_at&page={{ products.number }}">Новизне</a>
              {% endif %}
            </div>
          </div>

          <div class="Cards">
            {% if products %}
              {% for product in products %}
                <div class="Card"><a class="Card-picture" href="{% url 'app_shop:product_details' %}?product={{ product.id }}"><img src="{{ MEDIA_URL }}/{{ product.icon }}" /></a>
                  <div class="Card-content">
                    <strong class="Card-title"><a href="{% url 'app_shop:product_details' %}?product={{ product.id }}">{{ product.product_id.name }}</a>
                    </strong>
                    <div class="Card-description">
                      <div class="Card-cost"><span class="Card-price">${{ product.price }}</span>
                      </div>
                      <div class="Card-category">{{ product.product_id.category }}
                      </div>
                      <div class="Card-hover"><a class="Card-btn" href="{% url 'app_cart:cart_add' %}?product={{ product.id }}" ><img src="{{ MEDIA_URL }}/assets/img/icons/card/cart.svg" alt="cart.svg"/></a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <h3>Магазин пуст.</h3>
            {% endif %}
          </div>

          <div class="Pagination">
            <div class="Pagination-ins">
              {% if products.has_previous %}
                <a class="Pagination-element Pagination-element_prev" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order={{ order }}&page={{ products.previous_page_number }}"><img src="{{ MEDIA_URL }}/assets/img/icons/prevPagination.svg" alt="prevPagination.svg"/></a>
              {% endif %}
              {% for p in paginator.page_range %}
                {% if products.number == p %}
                  <a class="Pagination-element Pagination-element_current" href="#"><span class="Pagination-text">{{ p }}</span></a>
                {% elif p >= products.number|add:-2 and p <= products.number|add:2  %}
                  <a class="Pagination-element" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order={{ order }}&page={{ p }}"><span class="Pagination-text">{{ p }}</span></a>
                {% endif %}
              {% endfor %}
              {% if products.has_next %}
                <a class="Pagination-element Pagination-element_prev" href="?category={{ category }}&in_stock={{ in_stock }}&free_shipping={{ free_shipping }}&product_name={{ product_name }}&price_from={{ price_from }}&price_to={{ price_to }}&order={{ order }}&page={{ products.next_page_number }}"><img src="{{ MEDIA_URL }}/assets/img/icons/nextPagination.svg" alt="nextPagination.svg"/></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
