{% extends 'main_template.html' %}

{% load cache %}
{% cache site_settings.cache product.product_id.id %}

{% block title %}
  Product
{% endblock %}

{% block middle %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Megano Product
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Product</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <div class="Product">
          <div class="ProductCard">

            <div class="ProductCard-look">

              <div class="ProductCard-photo">
                <img src="{{ MEDIA_URL }}/{{ product.icon }}"/>
              </div>

              <div class="ProductCard-picts">

                <a class="ProductCard-pict ProductCard-pict_ACTIVE" href="{{ MEDIA_URL }}/{{ product.icon }}">
                  <img src="{{ MEDIA_URL }}/{{ product.icon }}"/>
                </a>

                <a class="ProductCard-pict" href="{{ MEDIA_URL }}/assets/img/content/home/slider.png">
                  <img src="{{ MEDIA_URL }}/assets/img/content/home/slider.png" alt="slider.png"/>
                </a>

                <a class="ProductCard-pict" href="{{ MEDIA_URL }}/assets/img/content/home/videoca.png">
                <img src="{{ MEDIA_URL }}/assets/img/content/home/videoca.png" alt="videoca.png"/>
              </a>

              </div>
            </div>


            <div class="ProductCard-desc">
              <div class="ProductCard-header">
                <h2 class="ProductCard-title">{{ product.product_id.name }}
                </h2>
                <div class="ProductCard-info">
                  <div class="ProductCard-cost">
                    <div class="ProductCard-price">{{ product.price }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="ProductCard-text">
                <ul>
                  <li>{{ product.description }}
                  </li>
                </ul>
              </div>
              <div class="ProductCard-cart">
                <div class="ProductCard-cartElement ProductCard-cartElement_amount">
                  <div class="Amount Amount_product">
                    <button class="Amount-remove" type="button">
                    </button>
                    <input class="Amount-input form-input" name="amount" type="text" value="1"/>
                    <button class="Amount-add" type="button">
                    </button>
                  </div>
                </div>
                <div class="ProductCard-cartElement"><a class="btn btn_primary" href="{% url 'app_cart:cart_add' %}?product={{ product.id }}"><img class="btn-icon" src="{{ MEDIA_URL }}/assets/img/icons/card/cart_white.svg" alt="cart_white.svg"/><span class="btn-content">Add To Cart</span></a>
                </div>
              </div>
              <div class="ProductCard-footer">
                <div class="ProductCard-tags">
                  <strong class="ProductCard-tagsTitle">Tags:
                  </strong><a href="#">Accesories</a>,<a href="#">Creative</a>,<a href="#">Design</a>,<a href="#">Gaming</a>
                </div>
              </div>
            </div>
          </div>
          <div class="Tabs Tabs_default">
            <div class="Tabs-links"><a class="Tabs-link_ACTIVE Tabs-link" href="#description"><span>Описание</span></a><a class="Tabs-link" href="#addit"><span>AdditionaL Info</span></a><a class="Tabs-link" href="#reviews"><span>Reviews ({{ product.reviews }})</span></a>
            </div>
            <div class="Tabs-wrap">
              <div class="Tabs-block" id="description">
                <h2>Megano Store Hystory
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetuer&#32;
                  <strong>adipiscing
                  </strong>&#32;elit doli. Aenean commodo ligula eget dolor. Aenean massa.&#32;<a href="#">Cumtipsu</a>&#32;sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem.
                </p><img class="pict pict_right" src="{{ MEDIA_URL }}/assets/img/content/home/bigGoods.png" alt="bigGoods.png"/>
                <ul>
                  <li>Lorem ipsum dolor sit amet, consectetuer
                  </li>
                  <li>adipiscing elit doli.&#32;<em>Aenean</em>&#32;commodo ligula
                  </li>
                  <li>eget dolor. Aenean massa. Cumtipsu sociis
                  </li>
                  <li>natoque penatibus et magnis dis parturient
                  </li>
                  <li>montesti, nascetur ridiculus mus. Donec
                  </li>
                  <li>quam felis, ultricies nec, pellentesque eutu
                  </li>
                </ul>
                <div class="clearfix">
                </div>
                <div class="table">
                  <table>
                    <tr>
                      <th>Характеристика
                      </th>
                      <th>Значение
                      </th>
                    </tr>
                    <tr>
                      <td>ываыв
                      </td>
                      <td>llslssl
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="Tabs-block" id="sellers">
                <div class="Categories Categories_product">
                </div>
              </div>
              <div class="Tabs-block" id="addit">
                <div class="Product-props">
                  <div class="Product-prop">
                    <strong>Lorem
                    </strong><span> Pfizer</span>
                  </div>
                  <div class="Product-prop">
                    <strong>ipsum
                    </strong><span> Lorem ipsum dolor sit</span>
                  </div>
                  <div class="Product-prop">
                    <strong>dolor sit
                    </strong><span> 5 ans</span>
                  </div>
                  <div class="Product-prop">
                    <strong>psum dolo
                    </strong><span> 2–3 jours</span>
                  </div>
                </div>
              </div>
              <div class="Tabs-block" id="reviews">
                <header class="Section-header">
                  <h3 class="Section-title">{{ product.reviews }} Reviews
                  </h3>
                </header>
                {% if reviews %}
                  {% for review in reviews %}
                    <div class="Comments">
                      <div class="Comment">
                        <div class="Comment-column Comment-column_pict">
                          <div class="Comment-avatar">
                          </div>
                        </div>
                        <div class="Comment-column">
                          <header class="Comment-header">
                            <div>
                              <strong class="Comment-title">{{ review.user.first_name }} {{ review.user.last_name }}
                              </strong><span class="Comment-date">{{ review.created_at }}</span>
                            </div>
                          </header>
                          <div class="Comment-content">{{ review.text }}
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}

                    {% if product.reviews > reviews_amount %}
                      <a class="ControlPanel-title" href="{% url 'app_shop:product_details' %}?product={{ product.id }}&reviews_amount={{ reviews_amount|add:4 }}">Показать ещё</a>
                    {% endif %}

                {% else %}
                  <h3>Обзоров нет.</h3>
                {% endif %}
                {% if request.user.is_authenticated %}
                  <header class="Section-header Section-header_product">
                    <h3 class="Section-title">Add Review
                    </h3>
                  </header>
                  <div class="Tabs-addComment">
                    <form class="form" action="#" method="post">
                      <div class="form-group">
                        <textarea class="form-textarea" name="review" id="review" placeholder="Review"></textarea>
                      </div>
                      <div class="form-group">
                        {% csrf_token %}
                        <button class="btn btn_muted" type="submit">Submit Review
                        </button>
                      </div>
                    </form>
                  </div>
                {% else %}
                  <header class="Section-header Section-header_product">
                    <h3 class="Section-title">Гости не могут оставлять комментарии.
                    </h3>
                  </header>
                  <div class="row-block"><a class="ControlPanel-title" href="{% url 'app_users:login' %}">Login</a> / <a class="ControlPanel-title" href="{% url 'app_users:register' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% endcache %}
